footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 14px;
}

h1 {
  text-align: center;
  margin-bottom: 28px;
}

#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 0px 14px 0px;
}

#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  margin: 56px 140px 56px 140px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 42px 0;
  gap: 28px;
}

#contactChild {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#faq {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 56px 28px 14px 70px;
}

#login,
#register {
  display: flex;
  flex-direction: column;
}

#registerContainer,
#loginContainer,
#commissionsContainer,
#profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0px 70px 0px;
}

#regSubmit {
  margin-top: 28px;
}

.logo {
  width: 80%;
}

.city {
  width: 80%;
}

.dropdown-menu {
  background-color: #5bc0de;
  --bs-dropdown-link-hover-bg: #0d6efd;
  --bs-dropdown-link-hover-color: #f8f9fa;
}

.dropdown-item {
  color: #ffffff;
}
