footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 14px;
}

h1 {
  text-align: center;
  margin-bottom: 28px;
}

#header {
  display: flex;
}

#headerContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: normal;
}

#headerChild {
  display: flex;
  justify-content: space-between;
}

#headerButton {
  padding: 8px;
  align-self: center;
}

#headerGrandchild,
#basic-nav-dropdown {
  text-align: right;
}

#logo {
  width: 288px;
}

#main {
  display: flex;
  justify-content: center;
}

#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#splashOne,
#splashTwo,
#splashThree,
#splashFour {
  display: flex;
  padding: 12px;
  gap: 36px;
  width: 100%;
}

#topImage {
  height: 288px;
  width: 432px;
}

#secondImage {
  height: 288px;
  width: 288px;
}

#bottomChild {
  background-color: #0d4196;
  color: white;
  border-radius: 24px;
  height: 288px;
  width: 576px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  margin: 56px 140px 56px 140px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 42px 0;
  gap: 28px;
}

#contactChild {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#faq {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 56px 28px 14px 70px;
}

#login,
#register {
  display: flex;
  flex-direction: column;
}

#registerContainer,
#loginContainer,
#commissionsContainer,
#profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0px 70px 0px;
}

#regSubmit {
  margin-top: 28px;
}

.logo {
  width: 80%;
}

.city {
  width: 80%;
  border: solid #0d4196;
}

.dropdown-menu {
  background-color: #5bc0de;
  --bs-dropdown-link-hover-bg: #0d6efd;
  --bs-dropdown-link-hover-color: #f8f9fa;
}

.dropdown-item {
  color: #ffffff;
}
