footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px 0px 14px 0px;
}

#about {
  margin: 14px 28px 14px 28px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 56px 0 28px 0;
}

.logo {
  width: 80%;
}

.city {
  width: 80%;
}

.dropdown-menu {
  background-color: #5bc0de;
  --bs-dropdown-link-hover-bg: #0d6efd;
  --bs-dropdown-link-hover-color: #f8f9fa;
}

.dropdown-item {
  color: #ffffff;
}
